@use 'sass:math';
@function rem($px) {
	@return math.div($px, 16) * 1rem;
}

.contact-section {
	background: var(--foreground);
	position: relative;
	padding: rem(80) rem(16);
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: rem(400); 

  }
	.container {
	  max-width: rem(800);
	  margin: 0 auto;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  gap: rem(24);
	}
  
	.contact-title {
	  color: var(--background);
	  font-size: rem(32);
	  font-weight: bold;
	}
  
	.contact-button {
	  padding: rem(12) rem(56);
	  font-size: rem(18);
	  background-color: var( --background);
	  color: white;
	  border: none;
	  border-radius: rem(6);
	  cursor: pointer;
  
	  &:hover {
		background-color: var( --primary-color);
	  }
	}
  